[Desktop Entry]
Version=1.0
Name=E-Ag X11 Application
Name[tr]=E-Ag İstemci X11 Uygulaması
Type=Application
Comment=User Acount Fixed Application
Comment[tr]=E-Ag İstemci Uygulaması
Terminal=false
Exec=/bin/bash -c "sleep 3&&/usr/bin/e-ag-x11client"
Icon=/usr/share/e-ag-x11client/e-ag-x11client.svg
Categories=Qt;Utility;
Keywords=ag;eag;e-ag-x11client;
GenericName=e-ag-x11client
GenericName[tr]=e-ag-x11client
